
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /1.Cursos/WordPress/Criacao%20de%20um%20tema%20do%20zero/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /1.Cursos/WordPress/Criacao%20de%20um%20tema%20do%20zero/wordpress/index.php [L]
</IfModule>

# END WordPress